@charset "utf-8";
@import url('http://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
 
/* 字体工具包 by Fonts2u (http://www.fonts2u.com) */
 
/*
    Little House科技研发中心
    LH版式 - II
*/
 
/*
    修改自:
    SCP Sigma 9
    Chaos Insurgency Theme
*/
 
/*
    [2014 Wikidot Theme]
    Aelanna为SCP基金会创建
    Dr Devan为SCP基金会修改
    katherine cdfg为LH科技修改
*/
 
/* 常规 */
#content-wrap {
    position: relative;
    margin: 2em auto 0;
    max-width: 1040px;
    min-height:1350px;
    height: auto !important;
}
 
::selection {
    background-color: #00ac0a;
    color: white;
}


#header h1 a span {
    font-family: 'Jockey One', swap;
    font-size: 80px;
    position: absolute;
    top: 70px;
    left: 130px;
    letter-spacing: 13px;
}
 
h1, #page-title {
    font-family: 'Jockey One', swap;
    color: black;
    padding: 0 0 0.25em;
    margin: 0 0 0.6em;
    font-weight: normal;
    text-align: center;
    letter-spacing: 2px;
}
h1 {
    margin-top: 0.7em;
    padding: 0;
    font-weight: bold;
    text-align: center;
}
h2, h3, h4, h5, h6, h7 {
    margin: 0.5em 0 0.4em;
    padding: 0;
    letter-spacing: 1px;
}
#page-title {
    border-color: transparent;
    text-align: center;
}
ul {
    list-style: square;
}
#top-bar ul {
  list-style-image: none; 
}
 
li, p {
    line-height: 141%;
}
a {
    color: darkred;
    text-decoration: none;
}
 
a:hover {
    background-color: transparent;
    color: red;
    text-decoration: none;
    transition: 0.25s;
}
 
a.newpage {
    color: #c48888;
}
 
a.newpage:hover {
    color: red;
    text-decoration: underline;
}
 
.form-control {
width: 95%;
}
 
/* 全局宽度 */
 
#header, #top-bar {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}
 
#top-bar {
    width: 100%;
    margin: 0 auto;
    margin-top: 1px;
}
 
.mobile-top-bar {
    display: none;
    position: absolute;
    left: 1em;
    bottom: 0px;
    z-index: 0;
}
 
body {
    background-color: #fff;
    font-size: 0.80em;
    color: #333;
}
div#container-wrap {
    background: url(https://it-cea-wiki.wdfiles.com/local--files/component%3Atheme/CEA-Neo-Banner-3.png) top left repeat-x;
    background-size: 105px;
}

#search-top-box {
    position: absolute;
    top: 79px;
    right: 9000px;
    width: 0px;
    text-align: right;
}

#container{
    background-image:url(http://monobook.wikidot.com/local--files/index/monobook-header.gif);
}
#header {
    height: 140px;
    position: relative;
    z-index: 20;
    padding-bottom: 20px;
    background: url(http://it-cea-wiki.wdfiles.com/local--files/component:theme/CEALOGO.png) 5px no-repeat; 
    background-size: 110px;
}
.content-panel .content-toc {
float: right;
padding: 0 20px;
background-color: #fff;
border: solid 1px #ccc;
border-radius: 10px;
margin: 20px 0 5px 5px;
white-space: nowrap;
box-shadow: inset 1px 2px 6px rgba(0, 0, 0, .15);
}
 
#login-status {
    color: #DEDEDE;
    font-size: 90%;
    z-index: 30;
}
#login-status a {
    background: transparent;
    color: #fff;
}
#login-status ul a {
    color: white;
    background: #272727;
}
 
#account-topbutton {
    background: #ccc;
    color: #9f0113;
}
#account-options li a:hover {
color:white;
text-decoration: none;
background-color: #3f3f3f;
border-top: 1px solid #14ac00;
border-bottom: 1px solid #14ac00;
}
.printuser img.small {
    margin-right: 1px;
}
 
#header h1 {
    margin-left: 120px;
    padding: 0;
    float: left;
    max-height: 95px;
}
#header h2 {
    margin-left: 120px;
    padding: 0;
    clear: left;
    float: left;
    font-size: 120%;
    max-height: 38px;
}
 
#header h1 a {
    display: block;
    margin: 0;
    padding: 80px 0 25px;
    line-height: 0px;
    max-height: 0px;
    color: #eee;
    background: transparent;
    font-family: JockeyOne, Arial, sans-serif;
    font-size: 180%;
    text-decoration: none;
    text-shadow: 2px 2px 1px #000;
    letter-spacing: 0.9px;
}
 
#header h2 span {
    display: block;
    margin: 0;
    font-family: JockeyOne, Helvetica, sans-serif;
    padding: 19px 0;
    line-height: 0px;
    max-height: 0px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,.8);
}
 
#top-bar {
    position: absolute;
    z-index: 50;
    top: 144px;
    height: 21px;
    line-height: 18px;
    padding: 0;
    z-index: 20;
    font-size: 90%;
}
 
#top-bar ul {
    float: right;
}
 
#top-bar li {
    margin: 0;
}
 
#top-bar a {
    color: #fff;
    transition: 0.125s;
    background: transparent;
    font-weight: bold;
}
 
#top-bar ul li {
    border: 0;
    position: relative;
}
 
#top-bar ul li ul {
    border: solid 1px #1c1818;
    border-top: 0;
}
 
#top-bar ul li a {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1px;
    max-height: 1px;
    overflow: hidden;
}
 
#top-bar ul li.sfhover a,
#top-bar ul li:hover a {
    background: #14ac00;
    color: white;
}
 
#top-bar ul li a:hover {
color:black;
background-color:#dddddd;
}
 
#top-bar ul li.sfhover ul li a,
#top-bar ul li:hover ul li a {
    white-space: nowrap;
    border-width: 0;
    width: auto; 
    min-width: fit-content; 
    border-top: 1px solid #14ac00;
    line-height: 160%;
    height: auto;
    max-height: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
 
#top-bar ul li.sfhover a:hover,
#top-bar ul li:hover a:hover {
    background: #fff;
    text-decoration: none;
}
#top-bar ul li ul {
    border-width: 0 1px 1px 1px;
    width: auto;
}
#top-bar ul li ul li, #top-bar ul li ul li.sfhover,
#top-bar ul li ul li, #top-bar ul li ul li:hover {
    border-width: 0;
}
#top-bar ul li ul li a {
    border-width: 0;
}
#top-bar ul li ul a, #top-bar a:hover {
    color: black;
}
 
.top-bar ul li:last-of-type ul {
    right: 0;
}
 
/* IE7 HACK */

#side-bar {
  position: fixed;     /* fixes it on the screen */
  top: 250px;          /* adjust spacing from the top */
  margin-left: 20px;         /* adjust if you want it on the right */
  width: 200px;        /* set a fixed width */
  padding: 5px;
  color: black;
  background-color: #F3F8F1;
  border:2px solid #00ac0a;
  display: block;
}

#side-bar .side-div {
    padding: 10px;
    border: 1px solid #3f3f3f;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.8);
    margin-bottom: 15px;
}
 
#main-content {
    margin: 0 2em 0 22em;
    padding: 1em;
    position: relative;
}
 
#breadcrumbs {
    margin: -1em 0 1em;
    font-weight: 85%;
}
 
.forum-group div.head {
    background-color: #14ac00;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
}
/*
**FORUM
*/
.page-rate-widget-box {
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.4);
    display: inline-block;
    margin-bottom: 10px;
}
.page-rate-widget-box .rate-points {
    background-color: #14ac00 !important;
    border: solid 1px #14ac00;
    border-right: 0;
    border-radius: 12px 0 0 0px;
}
.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown {
    background-color: #eff2f5;
    border-top: solid 1px #605e5e;
    border-bottom: solid 1px #605e5e;
    font-weight: bold;
}
.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a {
    background: #eff2f5;
    color: #313131;
    padding: 0 4px;
    margin: 0 1px;
    transition: 0.125s;
}
.page-rate-widget-box .rateup a:hover,
.page-rate-widget-box .ratedown a:hover {
    background: #333333;
    color: #f7f7f7;
    text-decoration: none;
}
.page-rate-widget-box .cancel {
    background-color: #14ac00;
    border: solid 1px #14ac00;
    border-left: 0;
    border-radius: 0 5px 5px 0;
}
.page-rate-widget-box .cancel a {
    background: transparent;
    text-transform: uppercase;
    color: #d0d0d0;
    transition: 0.125s;
}
.page-rate-widget-box .cancel a:hover {
    border-radius: 0 3px 3px 0;
    color: #fffff0;
    text-decoration: none;
}
 
/* TAB选项卡 */
 
.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav {
    border-color:#14ac00; /* color between tab list and content */
}
 
.yui-navset .yui-nav a,
.yui-navset .yui-navset-top .yui-nav a {
    background-color:#d8d8d8 ! important; /* tab background */
    border-color:#14ac00;
    color:#303030;
    transition: 0.125s;
}
 
.yui-navset .yui-nav a em {
background-color: #fdfdfd;
box-shadow: 0px 1px 2px rgba(0,0,0,0.7);
border-color: #b7a9a9;
}
 
.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav .selected a:focus,
.yui-navset .yui-nav .selected a:hover {
    background-image: none;
    background-color: #4D4D4D; /* selected tab background */
    color:white;
}
 
.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav .selected a em {
    border-color: transparent;
    box-shadow: 0px 1px 2px rgba(0,94,172,0.5);
 background-color: #14ac00;
}
 
.yui-navset .yui-content {
    background-color: #F7F7F7; /* content background color */
}
 
.yui-navset .yui-content,
.yui-navset .yui-navset-top .yui-content {
    border-color: #b7a9a9; /* content border */
    border-top-color:#b7a9a9; /* different border color */
}
 
.yui-navset-left .yui-content {
    border-left-color: #b7a9a9; /* different border color */
}
 
blockquote {
  border-style: dashed;
  border-color: #a7a7a7;
  border-width: 1pt;
  background-color: #f7f7f7;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1); }
 
div.image-block {
 float:right;
 margin:0 2em 1em 2em;
 width:300px;
}
 
div.image-block img {
width:300px;
}
 
.image-block {
    border: solid 1px rgba(0,0,0,0.25);
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    width: 300px;
}
 
.image-block.block-right {
    float: right;
    clear: right;
    margin: 0 2em 1em 2em;
}
 
.image-block.block-left {
    float: left;
    clear: left;
    margin: 0 2em 1em 0;
}
 
.image-block.block-center {
    margin-right: auto;
    margin-left: auto;
}
.image-block img {
    border: 0;
    width: 300px;
}
.image-block .image-caption {
    background-color: #eee;
    border-top: solid 1px rgba(0,0,0,0.25);
    padding: 2px 0;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    width: 300px;
}
.image-block > p {
    margin: 0;
}
.image-block .image-caption > p {
    margin: 0;
    padding: 0 10px;
}
 
#footer {
    clear: both;
    font-size: 80%;
    background: #14ac00;
    color: white;
    margin-top: 15px;
    padding: 3px 10px;
}
#footer .options {
    visibility: visible;
    display: block;
    float: right;
    width: 50%;
    font-size: 100%;
    text-align: right;
}
#footer a {
    color: #fff;
    background: transparent;
}
 
#page-content {
    min-height: 720px;
}
 
.unmargined > p {
    margin: 0;
    line-height: 100%;
}
 
#main-content .page-tags {
    margin: 1em 0 0;
    padding: 0;
}
#main-content .page-tags span {
    display: inline-block;
    padding: 0;
    max-width: 60%;
}
#main-content .page-tags a {
    display: inline-block;
    white-space: nowrap;
}
 
div.prompt {
border-radius: 5px;
border: 1px solid #484243;
background-color: #2f2f2f;
box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
color:white;
padding:10px;
margin:5px;
}
 
div.prompt h1 {
    color: #ff4f4f;
}
 
div.prompt pre, div.prompt blockquote {
color:black;
}
 
div.side-div pre, div.side-div blockquote {
color:black;
text-shadow: none;
}
 
div.box-grey {
border-radius: 5px;
box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
border: 1px solid #de9aa6;
background-color: #F5F7F7;
color:black;
padding:10px;
margin:5px;
}
 
body::-webkit-scrollbar {
    width: 0.7em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #C2C2C2;
}
 
body::-webkit-scrollbar-thumb {
background-color: #14ac00;
  outline: 1px solid slategrey;
}

#odialog-container {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 50;
    width: 100%;
}