body {
    font-family: Arial, sans-serif;
    margin: 40px;
    font-size: 0.80em;
    color: #e01e1e;
}

div#container-wrap {
    background: url(CEA-Neo-Banner-3.png) top left repeat-x;
    background-size: 105px;
}


