head{
    background: url(pic8.png); 
}

header {
    
}

body {
    font-family: Arial, sans-serif;
    margin: 40px;
    font-size: 0.80em;
    color: #0d0f0d;
    background: url(CEA-Neo-Banner-3.png) top left repeat-x;
    background-size: 105px;
    padding-left: 80px;
    padding-right: 80px;
}


