body {
    font-family: Arial, sans-serif;
    margin: 40px;
    font-size: 0.80em;
    color: #333;

    div#container-wrap {
    background: file(CEA-Neo-Banner-3.png) top left repeat-x;
    background-size: 105px;
    }


}


