@import url('http://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

head{
    background: url(pic8.png); 
}

header {
    font-family: Jockey One;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    font-size: 0.80em;
    color: #0d0f0d;
    background: url(CEA-Neo-Banner-3.png) top left repeat-x;
    background-size: 105px;
    width: 200px;
    float: center;
}


