body {
    font-family: Arial, sans-serif;
    margin: 40px;
    font-size: 0.80em;
    color: #333;
}

div#container-wrap {
    background: url(https://it-cea-wiki.wdfiles.com/local--files/component%3Atheme/CEA-Neo-Banner-3.png) top left repeat-x;
    background-size: 105px;
}

